<div class="todo-container flex justify-center items-center">
  <div class="md:w-2/5 xs: w-4/6">
    <div class="text-sm space-x-4 my-5">
      <button
        (click)="loadCareerPathTodos()"
        class="px-2 border border-blue-400 rounded-sm"
      >
        Load Career Path
      </button>
      <button
        (click)="loadDotnetFullStackTodos()"
        class="px-2 border border-blue-400 rounded-sm"
      >
        Load .NET Roadmap
      </button>
    </div>
    <div class="flex justify-center">
      <div class="">
        <circle-progress
          [percent]="getCompletedTodoAsPercentage()"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="getStrokeColorsByHighestPercentage()[0]"
          [innerStrokeColor]="getStrokeColorsByHighestPercentage()[1]"
          [animation]="true"
          [startFromZero]="false"
          [animationDuration]="250"
          [showSubtitle]="false"
          [titleFontSize]="'44'"
        ></circle-progress>
      </div>
      <div class="relative font-semibold text-xl">
        <span class="text-green-400">
          {{ getCompletedTodoCount() }}
        </span>
        /
        <span class="text-amber-400">
          {{ getInProcessTodoCount() }}
        </span>
        /
        <span class="text-fuchsia-400">
          {{ getTodoCount() }}
        </span>
      </div>
    </div>
    <div class="my-3">
      <form (submit)="addTodo()" class="flex items-center">
        <input
          [(ngModel)]="inputTodo"
          type="text"
          name="to-do"
          id=""
          placeholder="Enter a to-do..."
          class="w-10/12 rounded-sm border border-gray-500"
        />
        <button type="submit" class="todo-submit ml-3">
          <fa-icon [icon]="faSquarePlus" size="2x"></fa-icon>
        </button>
      </form>
    </div>
    <div class="overflow-x-hidden overflow-y-auto" style="max-height: 55vh">
      <div
        *ngFor="let todo of todoList; let i = index"
        class="todo-list flex flex-col"
      >
        <app-todo-item (removeTodo)="removeTodo(i)" [index]="i" [todo]="todo">
        </app-todo-item>
      </div>
    </div>
  </div>
</div>
